@use '../../global/global.scss' as global;
@use '../../global/globalTexts.scss' as globalTexts;

.Map{
    width: 30em;
    height: 20em;
}
.button_login{
    width: 10em;
}
.Paragraph{
    @include globalTexts.Paragraph(2em);
    text-align: center;
}