@use '../global/global.scss' as global;
@use '../global/globalTexts.scss' as globalTexts;

.section1 {
    background: rgba(160, 160, 160, 1.0);
    background: radial-gradient(at center, rgba(160, 160, 160, 0.3), rgba(95, 101, 100, 0.3));
    height: 35em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    div{
        width: 400px;
        h1{
            color: hsl(var(--nextui-primary));
            @include globalTexts.Title(2em);
        }
        p{
            @include globalTexts.Paragraph(1em);
        }
    }
    .section1_image{
        transform: scale(1.3);
        object-fit:cover;
        border-radius: 15px !important;
        @include global.shadows(0.6em,0.6em,0.1em,0.2);
        transition: all 0.5s;
        filter: grayscale(0%);
        &:hover{
            filter:grayscale(100%);
        }
    }
}

.section2 {
    h1{
        @include globalTexts.Title(1.4em);
        color: hsl(var(--nextui-primary));
    }
    padding: 3em;
    min-height: 35em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        padding: 1em;
        gap: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p{
            width: 20em;
            text-align: center;
            @include globalTexts.Paragraph(1.3em);
        }
        .section2_image{
            width: 30em;
            object-fit:cover;
            border-radius: 15px !important;
            @include global.shadows(0.6em,0.6em,0.1em,0.2);
            transition: all 0.5s;
            filter: grayscale(0%);
            &:hover{
                filter:grayscale(100%);
            }
        }
    }
    .section2_button{
        width: 10em;
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include global.shadows(0.3em,0.3em,0.1em,0.2);
        &:hover{
            transform: translateY(-0.3em);
        }
    }
}

.section3 {
    background: rgba(160, 160, 160, 1.0);
    background: radial-gradient(at center, rgba(160, 160, 160, 0.3), rgba(95, 101, 100, 0.3));
    height: 35em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}