@use '../../global/global.scss' as global;
@use '../../global/globalTexts.scss' as globalTexts;

.button{
    width: 10em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include global.shadows(0.3em,0.3em,0.1em,0.2);
    &:hover{
        transform: translateY(-0.3em);
    }
}

.image{
    width: 30em;
    border-radius: 100%;
    &_dark{
        filter: opacity(0.7);
    }
    &_light{
        filter: opacity(1);
    }
}

.text{
    color: hsl(var(--nextui-normalText)) !important;
    text-align: center;
}

