@use '../global/global.scss' as global;



.textAnimation {
    transition: all 0.5s;

    &:hover {
        transform: translateY(-3px);
    }
}

.background{
    .icon_register{
        filter: drop-shadow(0px 100px 0 hsl(var(--nextui-normalText)));
        transform: translateY(-100px);
        width: 2em;
        opacity: 0.8;
    }
}
